<%= render 'admin/layouts/application' %>
</div>
</div>
</div>

<div class="content inner-page">
	<div class="content-down"></div>
<div class="container">
	    <% flash.each do |name, msg| %>
      <div class="">
        <h4 align="center" class="flash"><%= content_tag :div, msg, :id => "flash_#{name}" %>
        </h4>
      </div>
    <% end %>
<div class="row">
	<h4><span>
		<%= image_tag("line.png" , :alt => 'line.png') %>
		</span>Skills Page<span><%= image_tag("right.png" , :alt => 'right.png') %></span></h4>
		<span class="q1"><a class="add-new" href="/admin/skills/new" > Add Skills</a>
		</span>
		
		<div class="table-responsive">

			<%#= debug @all_skills  %>
			<table class="table">
				<thead>
					<tr>
						<th>No</th>
						<th>Skill</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<% @all_skills.each do |skill| %>
					<tr>
						<td><%= skill.id %></td>
						<td><%= skill.skill %></td>
						<td><a class="edit" href="/admin/skills/<%= skill.id  %>/edit"></a> <a class="delete" href="/admin/skills/<%= skill.id  %>/delete"></a></td>						
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
</div>
<%= render 'admin/layouts/footer' %>
