<%= render 'layouts/application' %>

  <div class="innerpage_banner">
    <%= image_tag("create.png" , :alt => 'create.png') %>
    <div class="container">
      <div class="row">
        <div class="banner-innerpage">
          <h2>Be<span>St</span>aff</h2>
        </div>
      </div>
    </div>
</div>
<div class="content">
          <div class="container register">
            <div class="row ">
              <div class="box-one sign-up">
              <h3>Come join the ESP ! Already have one? <a href="javascript:void(0)" class="clickform login-tab"> Sign in here.</a></h3>
                <h4><span><!-- <img src="img/line.png"> --><%= image_tag("line.png" , :alt => 'line.png') %></span>CREATE A NEW ACCOUNT<span><!-- <img src="img/right.png"> --><%= image_tag("right.png" , :alt => 'right.png') %></span></h4>
                <%= form_for User.new, :html => { :class => "loginForm" } do |f| %>
                  <div class = "form-group col-md-5">
                    <!-- <input type = "text" class = "form-control" id = "name" placeholder = "first name"> -->
                    <%= f.text_field :first_name, :class => 'form-control', :placeholder => 'First Name', :required => 'required' %>
                  </div>
                  <div class = "form-group col-md-5">
                    <!-- <input type = "text" class = "form-control" id = "name" placeholder = "last name"> -->
                    <%= f.text_field :last_name, :class => 'form-control', :placeholder => 'Last Name', :required => 'required' %>
                  </div>
                  <div class = "form-group col-md-5">
                    <!-- <input type = "email" class = "form-control" id = "name" placeholder = "email"> -->
                    <%= f.email_field :email, :class => 'form-control', :placeholder => 'Email', :required => 'required' %>
                  </div>
                  <div class = "form-group col-md-5">
                    <select name="user[user_type]" class="form-control" required="required">
                      <option value='' >Select User Type</option>
                      <option value="1">I want to hire staff</option>
				  	  <option value="2">I want to sell staff</option>
				  	  <option value="3">I want to hire/sell staff</option>
                    </select>
                  </div>
                  <div class = "form-group col-md-5">
                    <!-- <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"> -->
                    <%= f.password_field :password, :class => 'form-control', :placeholder => 'Password', :required => 'required' %>
                  </div>
                  <div class = "form-group col-md-5">
                    <!-- <input type="password" class="form-control col-sm-10" id="exampleInputPassword1" placeholder="confirm password"> -->
                    <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => 'Confirm Password', :required => 'required' %>
                  </div>
                  
                  <div class = "form-group col-md-12">
                    <input type="checkbox" required="required" name="agree" style="opacity: 1">
                    <span>By submitting this form you agree to ESP <span class="c1">Terms of Service.</span></span>
                  </div>
                  
                  <!--  <div class = "checkbox">
                    <label><input type = "checkbox"> Check me out</label>
                  </div> -->
                  <div class = "form-group col-md-12">
                    <button type = "submit" class = "btn btn-default register">Join ESP!</button>
                  </div>
                <% end %>
                </div><!-- end .box-one -->
                <div class="box-two" style="display:none;">
                	<h3>Come join the ESP ! Let's set up your account.<a href="javascript:void(0)" class="clickform register-tab"> Sign up here.</a></h3>
                  <h4><span><%= image_tag("line.png" , :alt => 'line.png') %></span>LOG IN<span><%= image_tag("right.png" , :alt => 'right.png') %></span></h4>
                  <%= form_tag sessions_path, :id => 'loginForm' do %>
                    <div class="form-group col-md-10">
                      <!-- <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"> -->
                      <%= email_field_tag :email, params[:email], :class => 'form-control', :placeholder => 'Email', :required => 'required' %>
                    </div>
                    <div class="form-group col-md-10">
                      
                      <!-- <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"> -->
                      <%= password_field_tag :password, nil, class:'form-control', :placeholder => 'Password', :required => 'required' %>
                    </div>
                    
                    <div class="checkbox col-lg-12">
                      <label>
                        <input type="checkbox"> Remember me
                      </label>
                    </div>
                    <div class = "form-group col-md-12">
                      <%= submit_tag "Log in", :class => 'btn btn-default login-tab' %>
                    </div>
                  <% end %>
                  </div><!-- end .box-one -->
                </div>
              </div>
              
            </div>
            </div>
<script type="text/javascript">
$(document).ready(function () {
  $("#loginForm").validate();
  $("#new_user").validate();  
});
</script>            
<%= render 'layouts/footer' %>            