<%= render 'admin/layouts/application' %>
</div>
</div>
</div>
<div class="innerpage_banner">
<%= image_tag("create.png" , :alt => 'create.png') %>
<div class="container">
<div class="row">
<div class="banner-innerpage">
	<h2>Be<span>St</span>aff</h2>
</div>
</div>
</div>
</div><!-- end .innerpage_banner -->
</div><!-- end. header -->
<div class="content inner-page">
<div class="container">
<div class="row">
	<h4><span>
		<%= image_tag("line.png" , :alt => 'line.png') %>
		</span>Company Staffing Plans <span><%= image_tag("right.png" , :alt => 'right.png') %></span></h4>
		<span class="q1">This will be the Staff plans page  for admin after login
		</span>
		<a href="/admin/staff_plans/new" > Add New</a>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Plan Type</th>
						<th>Plan Price</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<% @plans.each do |plan| %>
					<tr>
						<td><%= plan.plan_name %></td>
						<td><%= plan.no_of_staff %></td>
						<td><%= plan.plan_price %></td>
						<td><a href="/admin/staff_plans/<%= plan.id %>/edit">Edit</a> <a href="/admin/staff_plans/delete/<%= plan.id %>">Delete</a></td>						
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
</div>
<%= render 'admin/layouts/footer' %>