<%= render 'layouts/application' %>
<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
<div class="innerpage_banner">
	<!-- <img src="img/staff.png"> -->
	<%= image_tag("staff.png" , :alt => 'staff.png') %>
	<div class="container">
		<div class="row">
			<div class="banner-innerpage">
				<h2>Be<span>St</span>aff</h2>
			</div>
		</div>
	</div>
	
	</div><!-- end .innerpage_banner -->
	</div><!-- end. header -->
	<div class="content inner-page">
		<div class="search-main">
		<div class="container">
			<% flash.each do |name, msg| %>
			<div class="">
				<h4 align="center" class="flash"><%= content_tag :div, msg, :id => "flash_#{name}" %>
				</h4>
			</div>
			<% end %>
			<div class="row">			
				
				<div class="col-lg-7">
					<form class="form-horizontal add-employee search-employee" role="form" action="/search">
						
						<div class="form-group">
							<label class="control-label col-sm-3" for="pwd">Skill</label>
							<div class="col-sm-9">
								<input type="text" name="skills" class="form-control autoComplete" id="skills" placeholder="Skills (Want to hire for)" value="<%= params[:skills] %>">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="pwd">Experience</label>
							<div class="col-sm-9">
								<input type="text" name="experience" class="form-control" id="experience" placeholder="Enter the work experience" value="<%= params[:experience] %>">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="pwd">Qualification</label>
							<div class="col-sm-9">
								<input type="text" name="staff_quf" id="staffQualitication" class="form-control" id="staff_quf" placeholder="Enter the staff Qualification" value="<%= params[:staff_quf] %>" >
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="pwd">Availability</label>
							<div class="col-sm-9">
								<input type="text" name="availability" id="availability" class="form-control" id="pwd" placeholder="Select The Date" value="<%= params[:availability] %>" >
								<input type="hidden" name="availability_to" id="availability_to">
								<input type="hidden" name="availability_from" id="availability_from" >
							</div>
						</div>
					
					<div class="form-group">
					  <label for="amountRange" class="control-label col-sm-3">Price range:</label>
					  <div class="col-sm-9">
					  	<input type="hidden" id="minPrice" value="<%= @min_price %>">
					  	<input type="hidden" id="maxPrice" value="<%= @max_price %>">
					  	<input type="text" id="amountRange" readonly style="border:0; color:#f6931f; font-weight:bold;">
				 
							<div id="flat-slider"></div>
						</div>
					</div>


					<!-- <div class="form-group">
						<div class="col-sm-offset-2 col-sm-10 ">
							<button type="submit" class="btn btn-default  pull-right">Search Staff</button>
						</div>
					</div> -->
				</form>
			</div>
			<div class="col-lg-5 map">
				<!-- <img src="img/map.png"> -->
				<%#= image_tag("map.png" , :alt => 'map.png') %>
				 <div id="map" style="width: 500px; height: 400px;"></div>
			</div>
		</div>
		<div class="row">
			<% if current_user %>
				<%= form_tag '/favourite_searches' do %>
					<% if @search_results != nil && @search_results.first != nil %>
						<%= hidden_field_tag 'skills', params[:skills] %>
						<%= hidden_field_tag 'qualification', params[:qualification] %>
						<%= hidden_field_tag 'experience', params[:experience] %>
						<%= hidden_field_tag 'availability', params[:availability] %>
						<%= hidden_field_tag 'user_id', current_user.id %>
						<%= submit_tag "Save Search Result", :class => 'save-search' %>
					<% end %>
				<% end %>
			<% end %>
		</div>


<div id="serach-results">
		<div class="row">
			<% @search_results.each do |data| %>
			<div class="col-lg-4 col-sm-4 search-result">
				<!-- <img src="img/search1.jpg"> -->
				<%#= image_tag("search1.jpg" , :alt => 'search1.jpg') %>
				<div class="company-search">
					<span> 
						
						<% if data.is_private %>
							<%= image_tag(data.image.url , :alt => 'company1.png', :style => "opacity: 0.2") %>
						<% else %>
							<%= image_tag(data.image.url , :alt => 'company1.png') %>
						<% end %>

						<p class="rate-search"><%= data.staff_price %> <span>$</span></p> 
					</span>

					<a href="/staff_details/<%= data.id%>">View More</a>
				</div>
				
				<h5><%= data.company_fn %> <%= data.company_ln %>/ 
					<% if data.is_private %>
						User is private
					<% elsif !current_user %>
						User is private
					<% else %>
						<%= data.first_name %> <%= data.last_name %>						
						<% end %>
				</h5>
			</div>
			<% end %>
		</div>
	</div>

<div id="noResults" class="outer-listings-container row-space-2">
	<div class="listings-container">
		<div class="col-10 col-sm-offset-1 row-space-top-2-sm col-md-offset-0 col-lg-8">
			<p class="text-lead">We couldn’t find any results that matched your criteria, but tweaking your search may help. Here are some ideas:</p>
			<ul>
				<li>Remove some filters.</li>
				<li>Expand the area of your search.</li>
				<li>Search for a city, address, or landmark.</li>
			</ul>
		</div>
	</div>
</div>

<div id="serach-results-loader"> 
	<%= image_tag('image_940385.gif' , :alt => 'loader') %>

</div>

</div>




	</div>
</div>
<% finalArr = []
qualification = []
%>
<% @staff_data.each do |staff| %>
<%#= debug staff %>
<% finalArr.push(staff.skill) %>
<% #@singlearr =  staff.skills.split(",")
#qualification.push(staff.qualification)
%>
<% #@singlearr.each do |arr|  %>
<% #end %>
<% end %>
<%
@qualifications.each do |quff|
qualification.push(quff.qualification)
end
%>
<input type="hidden" id="hiddenComplete" value="<%= finalArr %>">
<input type="hidden" id="hiddenQua" value="<%= qualification %>">
<script type="text/javascript">
function delete_cookie( name ) {
document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
}
$(function() {
delete_cookie('opentab');
});
$(document).ready(function () {
//	filterResults();
var autCompleteArr = [],
autoQompleteQua = [];
var autoCompleteData = $('#hiddenComplete').val()
autoCompleteDataQua  = $('#hiddenQua').val()    ;
if(autoCompleteData && autoCompleteData !='') {
var newArr = autoCompleteData.split(',');
$.each(newArr, function (index, value) {
var newValue = value.replace(/[^a-z0-9\s]/gi, '');
autCompleteArr.push(newValue);
});
var unique=autCompleteArr.filter(function(itm,i,a){
return i==autCompleteArr.indexOf(itm);
});
//console.log('Here ', unique);
$( "#skilsComplete" ).autocomplete({
source: unique
});
$(".autoComplete").autocomplete({
source: unique
});
}
if(autoCompleteDataQua && autoCompleteDataQua !='') {
var newArrQua = autoCompleteDataQua.split(',');
$.each(newArrQua, function (index, value) {
var newValueQa = value.replace(/[^a-z0-9\s]/gi, '');
autoQompleteQua.push(newValueQa);
});
var uniqueQa = autoQompleteQua.filter(function(itm,i,a){
return i==autoQompleteQua.indexOf(itm);
});
$("#staffQualitication").autocomplete({
source: uniqueQa
});
}
	$(function() {
		var dateToday = new Date();
	    $('#availability').daterangepicker({
	        autoUpdateInput: false,
	        minDate: dateToday,
	        locale: {
	            cancelLabel: 'Clear'
	        }
	    });

	    $('#availability').on('apply.daterangepicker', function(ev, picker) {
	        $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
	         filterResults();
	    });

	    $('#availability').on('cancel.daterangepicker', function(ev, picker) {
	        $(this).val('');
	        filterResults();
	    });
	});
$('#availability').change(function () {
//alert($(this).val());
var selectedDate = $(this).val().split('-');
$('#availability_from').val(selectedDate[0]);
$('#availability_to').val(selectedDate[1]);
//console.log('selected dates are', selectedDate[0], selectedDate[1]);
});
});
</script>
<script type="text/javascript">

function searchForMap(minPrice, maxPrice, response) {

	var locations = [];
	$.each(response, function (index, value) {
		if(value.staff_price >= minPrice &&  value.staff_price <= maxPrice) {
			var geocoder = new google.maps.Geocoder();
			var address = value.location;

			geocoder.geocode( { 'address': address}, function(results, status) {

			  if (status == google.maps.GeocoderStatus.OK) {
			    var latitude = results[0].geometry.location.lat();
			    var longitude = results[0].geometry.location.lng();
			  //  console.log('called map', latitude);
			    locations.push({
			    	name: address, 
			    	lat: latitude, 
			    	lng: longitude,
			    	name: value.first_name,
			    	price: value.staff_price,
			    	is_private: value.is_private

			    });
			  } 
			}); 
		}
	});
	setTimeout(function () {
		//console.log('in time out', locations);
		fillGeoMap(locations);
	},2000);	

}

$(document).ready(function () {

	 $('#availability').focus(function (){
        //$(document).scrollTo('#skilsComplete');
        $('html, body').animate({scrollTop: '150px'}, 800);
        }); 
	//var array = '<%= escape_javascript @search_results.to_json %>';
	var minPrice = $('#minPrice').val();
	var maxPrice = $('#maxPrice').val();

	var skills = getParameterByName("skills"),
		experience = getParameterByName("experience"),
		staff_quf = getParameterByName("staff_quf"),
		availability = getParameterByName("availability"),
		url = "/search_json?skills=" + skills + "&experience=" + experience + "&staff_quf=" + staff_quf + "&availability=" + availability;
		$.ajax({
		url: url,
		type: 'get',
		success: function(response) {	
			if(response.length) {
				searchForMap(minPrice, maxPrice, response);				
				$('#noResults').hide();
			}else {
				$('#noResults').show();
				buildDemoMap();
			}

		},error: function(err) {
			console.log('Error getting ', err);
		}
	});
});

function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}

function fillGeoMap(locations) { //console.log('fill maps ', locations);
	if(locations.length){
		$('#serach-results').css('opacity', '1');                
                $('#serach-results-loader').hide();
	 var centerLat = (locations[0] && locations[0].lat) ? locations[0].lat : 55.676097,
	 	 centerLng = (locations[0] && locations[0].lng) ? locations[0].lng : 12.568337;
	 var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: new google.maps.LatLng(centerLat, centerLng),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
//console.log('mapppppppppppp', map);
//	googleMapsLoaded = false;

/* listen to the tilesloaded event
   if that is triggered, google maps is loaded successfully for sure */
//google.maps.event.addListener(map, 'tilesloaded', function() {
  // googleMapsLoaded = true;
   //clear the listener, we only need it once
//   google.maps.event.clearListeners(map, 'tilesloaded');
//});

/* a delayed check to see if google maps was ever loaded */
//setTimeout(function() {
  //if (!googleMapsLoaded) {
     //we have waited 5 secs, google maps is not loaded yet
    // alert('google maps is not loaded');
//  }    
//}, 5000); 

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

   


for (i = 0; i < locations.length; i++) {  

var lat = locations[i].lat;
var lng = locations[i].lng;

 latlngset = new google.maps.LatLng(lat, lng);

  var marker = new google.maps.Marker({  
          map: map, title: locations[i].name , position: latlngset  
        });
        map.setCenter(marker.getPosition())

        var userName = (locations[i].is_private) ? 'User is private' : locations[i].name;

        var content = '<div class="map-area"><b>' + userName + '<br>' + '$' + locations[i].price + '<b></div>';     

  var infowindow = new google.maps.InfoWindow()

google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){ 
        return function() {
           infowindow.setContent(content);
           infowindow.open(map,marker);
        };
    })(marker,content,infowindow)); 

  }

	}
}
   
 function buildDemoMap() {
 	$('#serach-results').css('opacity', '1');                
                $('#serach-results-loader').hide();
 var centerLat =  55.676097,
	 	 centerLng = 12.568337;
	 var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: new google.maps.LatLng(centerLat, centerLng),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
 }  
  </script>
    <style>
 /* .sweet-container {
    display: none;
  }*/
  </style>
<%= render 'layouts/footer' %>
