<%= render 'layouts/application' %>
<div class="innerpage_banner">
	<!-- <img src="img/profile.jpg"> -->
	<%= image_tag("profile.jpg" , :alt => 'profile.jpg') %>
	<div class="container">
		<div class="row">
			<div class="banner-innerpage">
				<h2>Be<span>St</span>aff</h2>
			</div>
		</div>
	</div>
	
	</div><!-- end .innerpage_banner -->
	</div><!-- end. header -->
	<div class="content inner-page ng-emd">
		<div class="container">
			<% flash.each do |name, msg| %>
			<div class="">
				<h4 align="center" class="flash"><%= content_tag :div, msg, :id => "flash_#{name}" %>
				</h4>
			</div>
			<% end %>
			<div class="row">
				<h4><span>
					<!-- <img src="img/line.png"> -->
					<%= image_tag("line.png" , :alt => 'line.png') %>
				</span>
				<% if @user_detail.is_private %>
					User Is Private					
				<% elsif !current_user %>
					User Is Private					
				<% else %>
					<%= @user_detail.first_name+' '+@user_detail.last_name %>					
				<% end %>
				<span>
					<%= image_tag("right.png" , :alt => 'right.png') %>
					<!-- <img src="img/right.png"> -->
				</span></h4>
				<div class="col-lg-3 ng-pic">
					<!-- <img src="img/emp1.jpg"> -->
					<% if @user_detail.is_private %>
					<%= image_tag(@user_detail.image.url , :alt => 'emp1.jpg', :style => "opacity: 0.2") %>
					<% else %>
					<%= image_tag(@user_detail.image.url , :alt => 'emp1.jpg') %>
					<% end %>
				</div>
				<div class="col-lg-8 col-lg-offset-1">
					<strong>Contact Information</strong>
					<p><label>Email : </label>
					<% if @user_detail.is_private  ||  !current_user %>
						User Is Private
					<% else %>
						<%= @user_detail.email %>
					<% end %>
				</p>
				<strong>General Information</strong>
				<p><label>Name : </label>
				<% if @user_detail.is_private ||   !current_user  %>
					User Is Private
				<% else %>
				 <%= @user_detail.first_name+' '+@user_detail.last_name %>
				<% end %>
			</p>
			<p><label>Skills : </label><%= @user_detail.skills %></p>
			<p><label>Availability : </label><%= @user_detail.availability %></p>
			<p><label>Experience : </label><%= @user_detail.experience %></p>
			<p><label>Price : </label><%= @user_detail.staff_price %>$</p>
			<strong>Other Information</strong>
			<p><label>Other details : </label> </p>
			<% if !current_user %>
				<%= link_to "Pleas Login First", company_request_path(@user_detail.company_id), class: "btn btn-default", disabled: "disabled" %>
			<% else %>
				<%= link_to "Contact To Company", company_request_path(@user_detail.company_id), class: "btn btn-default" %>
			<% end %>
		</div>
	</div>
</div>

</div>
<%= render 'layouts/footer' %>