<%= render 'admin/layouts/application' %>
<div class="container">
	<h1>Create Plan</h1>
	
	  <% if @subscription_plan.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@subscription_plan.errors.count, "error") %> prohibited this subscription_plan from being saved:</h2>

	      <ul>
	      <% @subscription_plan.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	<div class="row col-md-3">
		<%= form_tag '/admin/subscription_plans/create' do %>
		  <div class="form-group">
		    <%= label_tag :plan_name %><br />
		    <%= text_field_tag :plan_name, nil, :class => 'form-control', :placeholder => 'Enter Plan Name' %>
		  </div>
		  <div class="form-group">
		    <%= label_tag :plan_price %><br />
		    <%= text_field_tag :plan_price, nil, class:'form-control', :placeholder => 'Enter Plan Price' %>
		    <br>
		    <!-- <a href="/forgot_password" >Forgot Password</a> -->
		  </div>
		  <%= submit_tag "Add Plan", :class => 'btn btn-default' %>
		<% end %>
	</div>
</div>
<%= render 'admin/layouts/footer' %>