<%= render 'layouts/application' %>
<div class="innerpage_banner">
   <!-- <img src="img/ourplan.png"> -->
   <%= image_tag("ourplan.png" , :alt => 'ourplan.png') %>
   <div class="container">
      <div class="row">
         <div class="banner-innerpage">
            <h2>Our<span>Plan</span></h2>
         </div>
      </div>
   </div>
</div>
<!-- end .innerpage_banner -->
</div><!-- end. header -->
<div class="content inner-page">
   <div class="container">
      <div class="row">
         <h3>Select Subscription Plan (Stripe)</h3>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et sapien porttitor, aliquam lectus in, dapibus enim. Suspendisse potenti. Proin eleifend, erat et lobortis venenatis, arcu magna iaculis dolor, ac mollis tellus metus nec nisl. Sed eu consequat sapien. Fusce sit amet suscipit orci. Nam risus nibh, malesuada et dictum sed, lobortis quis velit. In orci ex, sodales nec ante in, faucibus dictum turpis. Nunc placerat sem vel libero commodo. </p>
      </div>
        <div class="row three-sap">
          <form action="/charges/new" method="POST">
            <% @plans.each do |plan| %>
             <div class="col-sm-4">
              <div class="plan-main" id="<%= plan.id %>">
                 <div class="plan">
                    <p class="plan-duration"><%= plan.plan_name %></p>
                    <p class="plan-price">$<span><%= plan.plan_price %></span>
                    <% if plan.plan_type == 1 %>
                      /monthly</p>
                      <p class="plan-month">Monthly</p>
                    <% elsif plan.plan_type == 2 %>
                      /quaterly</p>
                      <p class="plan-month">Quaterly</p>
                    <% else %>
                      /yearly</p>
                      <p class="plan-month">Yearly</p>
                    <% end %>
                 </div>
                 <!-- end .plan -->
                 <div class="overlay-plan <%= plan.id %>"  style="cursor:pointer">
                    <input type="hidden" name="plan_id" value="<%= plan.id %>">
                    <p><span><input type="radio" id="<%= plan.id %>" class="selected_plan" name="selected_plan" value="<%= plan.plan_price %>" required="required"> Choose Plan</span>
                      <%= image_tag("black-check-mark-hi.png" , :alt => 'black-check-mark-hi.png') %>
                    </p>
                    <!-- <img src="/assets/black-check-mark-hi.png"> -->

                    <!-- Choose Plan -->
                 </div>
              </div>
              <!-- end .plan-main -->
             </div>
           <% end %>
            <input type="submit" name="submit" value="Proceed To Pay" class="btn btn-primary">
          </form>
      </div>
    </div>
   </div>
</div>
<script>
$(document).ready(function () {
  $('.selected_plan').click(function () {
    var id = $(this).attr('id').toString();
    $('.overlay-plan').removeClass('opacity');
    $('.overlay-plan.'+id).addClass('opacity');    
  });
});
</script>
<%= render 'layouts/footer' %>