<%= render 'layouts/application' %>
<div class="container">
	<h1>Sign Up</h1>
	<div class="row col-md-3">
	<%= form_for @user do |f| %>
	  <% if @user.errors.any? %>
	    <div class="error_messages">
	      <h2>Form is invalid</h2>
	      <ul>
	        <% for message in @user.errors.full_messages %>
	          <li><%= message %></li>
	        <% end %>
	      </ul>
	    </div>
	  <% end %>
	  <div class="form-group">
	    <%= f.label :first_name %><br />
	    <%= f.text_field :first_name, :class => 'form-control' %>
	  </div>
	  <div class="form-group">
	    <%= f.label :last_name %><br />
	    <%= f.text_field :last_name, :class => 'form-control' %>
	  </div>
	  <div class="form-group">
	    <%= f.label :email %>
	    <%= f.email_field :email, :class => 'form-control' %>
	  </div>
	  <div class="form-group">
	    <%= f.label :password %>
	    <%= f.password_field :password, :class => 'form-control' %>
	  </div>
	  <div class="form-group">
	    <%= f.label :password_confirmation %>
	    <%= f.password_field :password_confirmation, :class => 'form-control' %>
	  </div>
	  <div class="form-group">
	  	  <label>Account Type</label>
		  <select name="user[user_type]" class="form-control">
		  	<option value="">Select One</option>
		  	<option value="1">I want to hire staff</option>
		  	<option value="2">I want to sell staff</option>
		  	<option value="3">I want to hire/sell staff</option>
		  </select>
	 </div>	  	
	  <%= f.submit :class => 'btn btn-default' %>
	<% end %>
	</div>
</div>