<%= render 'layouts/application' %>
</div>
</div>
</div>
</div><!-- end. header -->
<div class="content inner-page" >
		<div class="content-down"></div>
			<div class="container">
				<% flash.each do |name, msg| %>
				<div class="">
					<h4 align="center" class="flash"><%= content_tag :div, msg, :id => "flash_#{name}" %>
					</h4>
				</div>
				<% end %>

				<div class="row left-portion">
					<div class="col-lg-4">
						<ul>
							<a href="/help"><span><i class="fa fa-long-arrow-left"></i>Back</a></span>
							<% @faqs.each do |faq| %>
					      		<li><a href="/help/<%= faq.id %>/<%= faq.question.gsub(/\s+/, '-') %>"><%= faq.question %></a></li>				      	
					      	<% end %>

						</ul>

					</div>
					<div class="col-lg-8">
						<h2><b><%= @faq.question %></b></h2>				      	
						<p><%= @faq.answer.html_safe %></p>	
					</div>			      	
			      
				</div>
			</div>
		</div>
	</div>

<%= render 'layouts/footer' %>
<style>
.sweet-container {
	display:none;
}
</style>