<%= render 'layouts/application' %>
</div>
</div>
</div>
</div><!-- end. header -->
<div class="content inner-page" >
		<div class="content-down"></div>
			<div class="container">
				<% flash.each do |name, msg| %>
				<div class="">
					<h4 align="center" class="flash"><%= content_tag :div, msg, :id => "flash_#{name}" %>
					</h4>
				</div>
				<% end %>

				<div class="row">
					<h2><b>Suggested for You </b></h2>
					<div class="homepage-articles-list">
			      		<% @faqs.each do |faq| %>
				      		<div class="col-lg-6">
					      		<a href="/help/<%= faq.id %>/<%= faq.question.gsub(/\s+/, '-') %>"><i class="fa fa-file-text-o"></i><%= faq.question %></a>
					      	</div>
				      	<% end %>
			      	</div>
				</div>
			</div>
		</div>
	</div>

<%= render 'layouts/footer' %>
<style>
.sweet-container {
	display:none;
}
</style>
