<%= render 'layouts/applicationhome' %>
<div class="banner">
    <video preload="auto" loop="loop" id="pretzel-video" class="video-playing" autoplay>
      <source src="https://a0.muscache.com/airbnb/static/Croatia-P1-1.mp4" type="video/mp4">
      <source src="https://a0.muscache.com/airbnb/static/Croatia-P1-0.webm" type="video/webm">
    </video>
  <!--  <%= image_tag("banner.png" , :alt => 'video.png') %> -->
  <div class="banner-inner">
    <div class="container">
      <div class="row">
        <%#= image_tag("video.png" , :alt => 'video.png') %>
        <h2>Welcome home</h2>
        <span></span>
        <p>Etiam scelerisque nulla non dolor ornare, interdum porta metus tempus.</p>
      </div>
    </div>
    </div><!-- end .banner-inner -->
    <div class="banner-bottom">
      <div class="container">
        <div class="row">
          <form method="get" action="/search">
            <ul>
              <li><input type="text" name="skills" id="skilsComplete" placeholder="Skills (Want to hire for)"></li>
              <li><input type="text" name="staff_quf" id="staffQualitication" placeholder="Enter the staff Qualification"></li>
              <li><input type="text" name="experience" placeholder="Enter the work experience"></li>
              <li><input type="text" name="availability" placeholder="Enter  the availability"></li>
              <li><input type="submit" placeholder="Search"></li>
            </ul>
          </form>
        </div>
      </div>
    </div>
    </div><!-- end .banner -->
    </div><!-- end. header -->
    <div class="content c3">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <h3>Why Us ?</h3>
            <span class="bottom-bar"></span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <a href="#">Click Here To See List of Staff with experience</a>
            <ul class="home-division">
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <!-- <img src="images/img1.png"> -->
            <%= image_tag("img1.png" , :alt => 'video.png') %>
          </div>
        </div>
      </div>
    </div>
    <hr class="mt0">
    <div class="c2-main">
      <div class="section-overlay">
        <div class="porro">
          <!-- <img src="images/porro.png"> -->
          <!--  <%= image_tag("porro.png" , :alt => 'video.png') %> -->
          <div class="container">
            <div class="row">
              <div class="porro_inner">
                <i>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</i>
                <a href="#">See What You Can Earn</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="happy_client">
      <h3>Happy Customers</h3>
      <% finalArr = [] 
         qualification = []
       %>
      <% @staff_data.each do |staff| %>
      <%#= debug staff %>
          <% @singlearr =  staff.skills.split(",") 
            qualification.push(staff.qualification)
          %>
            <% @singlearr.each do |arr|  %>
              <% finalArr.push(arr) %>
            <% end %>
        <% end %>
        
        <input type="hidden" id="hiddenComplete" value="<%= finalArr %>"> 
        <input type="hidden" id="hiddenQua" value="<%= qualification %>"> 

      <p class="nn1"><span class="hp"></span></p>
      <ul>
        <li class="col-md-6 col-lg-3 space-md-4 l1 text-center hvr-shutter-in-vertical">
          <span>Heading One</span>
          <%= image_tag("emp1.jpg" , :alt => 'qwert') %>
          <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a href="#">read more...</a>
        </li>
        <li class="col-md-6 col-lg-3 space-md-4 l2 hvr-shutter-in-vertical">
          <span>Heading Two</span>
          <%= image_tag("emp1.jpg" , :alt => 'qwert') %>
          <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a href="#">read more...</a>
        </li>
        <li class="col-md-6 col-lg-3 space-md-4 l3 hvr-shutter-in-vertical">
          <span>Heading Three</span>
          <%= image_tag("emp1.jpg" , :alt => 'qwert') %>
          <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a href="#">read more...</a>
        </li>
        <li class="col-md-6 col-lg-3 space-md-4 l4 hvr-shutter-in-vertical">
          <span>Heading Four</span>
          <%= image_tag("emp1.jpg" , :alt => 'qwert') %>
          <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a href="#">read more...</a>
        </li>
      </ul>
      
    </div>
    <script type="text/javascript">
    function delete_cookie( name ) {
      document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }
    $(function() {
      delete_cookie('opentab');
    });
    $(document).ready(function () {
      var autCompleteArr = [],
          autoQompleteQua = [];
      var autoCompleteData = $('#hiddenComplete').val()
          autoCompleteDataQua  = $('#hiddenQua').val()    ;
      if(autoCompleteData && autoCompleteData !='') {
        
        var newArr = autoCompleteData.split(',');
       $.each(newArr, function (index, value) {
        var newValue = value.replace(/[^a-z0-9\s]/gi, '');
        autCompleteArr.push(newValue);
       });

        var unique=autCompleteArr.filter(function(itm,i,a){
          return i==autCompleteArr.indexOf(itm);
      });
        //console.log('Here ', unique);
       $( "#skilsComplete" ).autocomplete({
        source: unique
       });
       $(".autoComplete").autocomplete({
        source: unique
       });
      }

        if(autoCompleteDataQua && autoCompleteDataQua !='') {
           var newArrQua = autoCompleteDataQua.split(',');
           $.each(newArrQua, function (index, value) {
            var newValueQa = value.replace(/[^a-z0-9\s]/gi, '');
            autoQompleteQua.push(newValueQa);
           });

            var uniqueQa = autoQompleteQua.filter(function(itm,i,a){
              return i==autoQompleteQua.indexOf(itm);
          });

            $("#staffQualitication").autocomplete({
              source: uniqueQa
           });
        }


    });
    </script>
    <%= render 'layouts/footer' %>