<%= render 'layouts/applicationhome' %>
<div class="banner">
    <!--video preload="auto" loop="loop" id="pretzel-video" class="video-playing" autoplay>
      <source src="https://a0.muscache.com/airbnb/static/Croatia-P1-1.mp4" type="video/mp4">
      <source src="https://a0.muscache.com/airbnb/static/Croatia-P1-0.webm" type="video/webm">
    </video-->
    <%#= video_tag "Recruiting.mp4", :id => "pretzel-video", :loop => "loop", :controls => false, :autoplay => true %>
    <%= image_tag("video.gif" , :alt => 'video.gif', :class => 'home-video') %>
  <!--  <%= image_tag("banner.png" , :alt => 'video.png') %> -->
  <div class="banner-inner">
    <div class="container">
      <div class="row">
        <%#= image_tag("video.png" , :alt => 'video.png') %>
        <h2>Welcome home</h2>
        <span></span>
        <p>Etiam scelerisque nulla non dolor ornare, interdum porta metus tempus.</p>
      </div>
    </div>
    </div><!-- end .banner-inner -->
    <div class="banner-bottom">
      <div class="container">
        <div class="row">
          <form method="get" action="/search">
            <ul>
              <li><input type="text" name="skills" id="skilsComplete" placeholder="Skills (Want to hire For)"></li>
              <li><input type="text" name="staff_quf" id="staffQualitication" placeholder="Enter the Staff Qualification"></li>
              <li><input type="text" name="experience" placeholder="Enter the work experience"></li>
              <li><input type="text" id="availability" name="availability" placeholder="Select The Availability Dates" value="" >
                <input type="hidden" name="availability_to" id="availability_to">
                <input type="hidden" name="availability_from" id="availability_from" >
              </li>
              <li><input type="submit" placeholder="Search"></li>
            </ul>
          </form>
        </div>
      </div>
    </div>
    </div><!-- end .banner -->
    </div><!-- end. header -->
    <div class="content c3">
      <div class="container">
        <div class="row">
          <div class="bg1-color">
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 c3right">
            <!-- <img src="images/img1.png"> -->
            <%= image_tag("career_banner11.jpg" , :alt => 'group') %>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 c3left">
            <h3><strong>Hosting opens up a world of opportunity</strong> </h3>
            <p>Earn money sharing your extra space with travelers. </p>
            <a href="#">See What You Can Earn</a>
            <!-- 
            <span class="bottom-bar"></span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <a href="#">Click Here To See List of Staff with experience</a>
            <ul class="home-division">
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
            </ul> -->
          </div>
          </div>
          
        </div>
      </div>
    </div>
    <hr class="mt0">
    <div class="c2-main">
      <div class="section-overlay">
        <div class="porro">
          <!-- <img src="images/porro.png"> -->
          <!--  <%= image_tag("porro.png" , :alt => 'video.png') %> -->
          <div class="container">
            <div class="row">
              <div class="porro_inner">
                <i>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</i>
                <a href="#">See What You Can Earn</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="happy_client">
      <div class="container">
      <h3>Explore the world</h3>
      <%#= debug @staff_data%>

      <% finalArr = [] 
         qualification = []

         @qualifications.each do |quff|
              qualification.push(quff.qualification)
         end
       %>
      <% @staff_data.each do |staff| %>
      <%#= debug staff %>

       <% finalArr.push(staff.skill) %>
          <% #@singlearr =  staff.skills.split(",") 
            #qualification.push(staff.qualification)
          %>
            <% #@singlearr.each do |arr|  %>
             
            <% #end %>
        <% end %>
        
        <input type="hidden" id="hiddenComplete" value="<%= finalArr %>"> 
        <input type="hidden" id="hiddenQua" value="<%= qualification %>"> 

      <p class="nn1"><span class="hp"></span></p>
      <ul>
        <div class="col-lg-8 animation slideOutUp">
          <li>
            <div class="overlay"></div>
            <%= image_tag("w1-new.jpg" , :alt => 'qwert') %>
            <span><strong>
              New York
            </strong></span>
          </li>
        </div>
        <div class="col-lg-4">
        <li>
          <div class="overlay"></div>
          <%= image_tag("w2-new.jpg" , :alt => 'qwert') %>
          <span><strong>
              Paris
            </strong></span>
        </li>
      </div>
      <div  class="col-lg-4">
        <li>
          <div class="overlay"></div>
          <%= image_tag("w3-new.jpg" , :alt => 'qwert') %>
        </li>
      </div>
      <div  class="col-lg-4">
         <li>
          <div class="overlay"></div>
          <%= image_tag("w4-new.jpg" , :alt => 'qwert') %>

        </li>
      </div>
        <div  class="col-lg-4">
         <li>
          <div class="overlay"></div>
          <%= image_tag("w5-new.jpg" , :alt => 'qwert') %>

        </li>
      </div>
      </ul>
      <!-- <ul>
        <li class="col-md-6 col-lg-3 space-md-4 l1 text-center hvr-shutter-in-vertical">
          <span>Heading One</span>
          <%= image_tag("w2.jpg" , :alt => 'qwert') %>
          
        </li>
        <li class="col-md-6 col-lg-3 space-md-4 l2 hvr-shutter-in-vertical">
          <span>Heading Two</span>
          <%= image_tag("emp1.jpg" , :alt => 'qwert') %>
          <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a href="#">read more...</a>
        </li>
        <li class="col-md-6 col-lg-3 space-md-4 l3 hvr-shutter-in-vertical">
          <span>Heading Three</span>
          <%= image_tag("emp1.jpg" , :alt => 'qwert') %>
          <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a href="#">read more...</a>
        </li>
        <li class="col-md-6 col-lg-3 space-md-4 l4 hvr-shutter-in-vertical">
          <span>Heading Four</span>
          <%= image_tag("emp1.jpg" , :alt => 'qwert') %>
          <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a href="#">read more...</a>
        </li>
      </ul> -->
    </div>
      
    </div>

<div class="slider-main">
 <!-- Full Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
       <!--  <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol> -->

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill"><%= image_tag("sld1.jpg" , :alt => 'qwert') %></div>
                <div class="carousel-caption">
                    <h2>Caption 1</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill"><%= image_tag("sld2.png" , :alt => 'qwert') %></div>
                <div class="carousel-caption">
                    <h2>Caption 2</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill"><%= image_tag("sld3.jpg" , :alt => 'qwert') %></div>
                <div class="carousel-caption">
                    <h2>Caption 3</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>


</div>







    <script type="text/javascript">
    function delete_cookie( name ) {
      document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }
    $(function() {
      delete_cookie('opentab');
    });
    $(document).ready(function () {
      var autCompleteArr = [],
          autoQompleteQua = [];
      var autoCompleteData = $('#hiddenComplete').val()
          autoCompleteDataQua  = $('#hiddenQua').val()    ;
      if(autoCompleteData && autoCompleteData !='') {
        
        var newArr = autoCompleteData.split(',');
       $.each(newArr, function (index, value) {
        var newValue = value.replace(/[^a-z0-9\s]/gi, '');
        autCompleteArr.push(newValue);
       });

        var unique=autCompleteArr.filter(function(itm,i,a){
          return i==autCompleteArr.indexOf(itm);
      });
        //console.log('Here ', unique);
       $( "#skilsComplete" ).autocomplete({
        source: unique
       });
       $(".autoComplete").autocomplete({
        source: unique
       });
      }

        if(autoCompleteDataQua && autoCompleteDataQua !='') {
           var newArrQua = autoCompleteDataQua.split(',');
           $.each(newArrQua, function (index, value) {
            var newValueQa = value.replace(/[^a-z0-9\s]/gi, '');
            autoQompleteQua.push(newValueQa);
           });

            var uniqueQa = autoQompleteQua.filter(function(itm,i,a){
              return i==autoQompleteQua.indexOf(itm);
          });

            $("#staffQualitication").autocomplete({
              source: uniqueQa
           });
        }

        $(function() {
            var dateToday = new Date();
            $('#availability').daterangepicker({
                autoUpdateInput: false,
                minDate: dateToday,
                locale: {
                    cancelLabel: 'Clear',
                    
                }
            });

            $('#availability').on('apply.daterangepicker', function(ev, picker) {
                $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
            });

            $('#availability').on('cancel.daterangepicker', function(ev, picker) {
                $(this).val('');
            });
        });

            $('#availability').change(function () {
            //alert($(this).val());
            var selectedDate = $(this).val().split('-'); 
            $('#availability_from').val(selectedDate[0]);
            $('#availability_to').val(selectedDate[1]);
            //console.log('selected dates are', selectedDate[0], selectedDate[1]);

          });
    });
    </script>
    <%= render 'layouts/footer' %>