<%= render 'layouts/application' %>
<div class="innerpage_banner">
  <%= image_tag("create.png" , :alt => 'create.png') %>
  <div class="container">
    <div class="row">
      <div class="banner-innerpage">
        <h2>Be<span>St</span>aff</h2>
      </div>
    </div>
  </div>
  
  </div><!-- end .innerpage_banner -->
  </div><!-- end. header -->
<%#= render 'layouts/application' %>

  <div class="content inner-page">
    <div class="container">
      <div class="row">
        <h4><span><%= image_tag("line.png" , :alt => 'line.png') %></span>Edit Employee Page<span><!-- <img src="img/right.png"> -->
        <%= image_tag("right.png" , :alt => 'right.png') %>
      </span></h4>
      <span class="q1">Company will Edit employee of their team on this page.</span>
      <%= form_tag @staff_url, {:class => 'form-horizontal add-employee', :id => 'editStaff'} do %>
      <div class="form-group">
        <%= label_tag :first_name, 'First Name', :class => "control-label col-sm-2" %>
        <div class="col-sm-7">
          <%= text_field_tag :first_name, @staff_data.first_name, :class => 'form-control', :placeholder => 'Enter First Name', :required => 'required' %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :last_name, 'Last Name', :class => "control-label col-sm-2", :required => 'required' %>
        <div class="col-sm-7">
          <%= text_field_tag :last_name, @staff_data.last_name, :class => 'form-control', :placeholder => 'Enter Last Name', :required => 'required' %>
        </div>
        
      </div>
      <div class="form-group">
        <%= label_tag :email, 'Email', :class => "control-label col-sm-2" %>
        <div class="col-sm-7">
          <%= email_field_tag :email, @staff_data.email, class:'form-control', :placeholder => 'Enter Email', :required => 'required' %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :skills, 'Skills', :class => "control-label col-sm-2" %>
        <div class="col-sm-7">
          <%= text_field_tag :skills, @staff_data.skills, class:'form-control', :placeholder => 'Enter Skills', :required => 'required' %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :availability, 'Availability', :class => "control-label col-sm-2" %>
        <div class="col-sm-7">
          <%= text_field_tag :availability, @staff_data.availability, class:'form-control', :placeholder => 'Enter Availability', :required => 'required' %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :is_private, 'Is Private', :class => "control-label col-sm-2" %>
        <div class="col-sm-7">
          <%= select_tag "is_private", options_for_select([ "Select", "No", "Yes" ], @staff_data.is_private == true ? "Yes" : "No"), class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :qualification, 'Qualification', :class => "control-label col-sm-2" %>
        <div class="col-sm-7">
          <%= text_field_tag :qualification, @staff_data.qualification, class:'form-control', :placeholder => 'Enter Qualification', :required => 'required' %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :experience, 'Experience', :class => "control-label col-sm-2" %>
        <div class="col-sm-7">
          <%= text_field_tag :experience, @staff_data.experience, class:'form-control', :placeholder => 'Enter Experience', :required => 'required' %>
        </div>
      </div>
       <div class="form-group">
        <%= label_tag :location, 'Location', :class => "control-label col-sm-2" %>
        <div class="col-sm-7">
          <%= text_field_tag :location,  @staff_data.location, class:'form-control', :placeholder => 'Enter Location', :required => 'required' %>
        </div>
      </div>

      <input type="hidden" name="company_id" value="<%= @current_user.id %>">
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= submit_tag "Update", :class => 'btn btn-default' %>
           <%= link_to "Cancel", "/company_home", class: "btn btn-default" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  
</div>
<script type="text/javascript">
$(document).ready(function () {
$('#editStaff').validate();
});
</script>
<%= render 'layouts/footer' %>
