<div class="content inner-page">
  <div class="content-down"></div>
  <div class="container">
    
        <% flash.each do |name, msg| %>
          <% if msg == 'plan_is_expired' %>
            <!-- <a class="text-center" href ="/upgrade_plan">Your add staff limit is reached, please upgrade your plan</a> -->
            <script>
              $(document).ready(function () {

              swal({  
                 title: 'Plan Expired',   
                 text: 'You add staff limit is reached for the current plan, please upgrade you plan',   
                 type: 'warning',   
                 //showCancelButton: true,   
                 confirmButtonColor: '#3085d6',   
                 cancelButtonColor: '#d33',   
                 confirmButtonText: 'Yes, Upgrade!',  
                 //cancelButtonText: 'No, cancel plx!',   
                 confirmButtonClass: 'confirm-class',   
                 cancelButtonClass: 'cancel-class',   
                 closeOnConfirm: true,   
                 closeOnCancel: true 
               }, function(isConfirm) {   
                if (isConfirm) {     
                  window.location.href = "/upgrade_plan";
                } else { 
                } 
              });

              });
            </script>
          <% end %>
        <% end %>
    <div class="row">
     <% flash.each do |name, msg| %>
      <div class="">
        <h4 align="center" class="flash success"><%= content_tag :div, msg, :id => "flash_#{name}" %>
        </h4>
      </div>
    <% end %>
      <h4><span>
        <%= image_tag("line.png", :alt => 'line.png') %>
        </span>Company Staffing Plans <span><%= image_tag("right.png" , :alt => 'right.png') %></span></h4>
        <span class="q1">
        <a href="/add_staff" class="add-new"> Add New</a></span>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Skills</th>
                <th>Availability</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @staff_list.each do |staff_list| %>
              <tr id="emp_<%= staff_list.id%>">
                <td><%= staff_list.first_name+" "+staff_list.last_name %></td>
                <td><%= staff_list.email %></td>
                <td><%= staff_list.skills %></td>
                <td><%= staff_list.availability %></td>
                <td><%= link_to "", edit_company_path(staff_list), class: "edit" %> <%= link_to "", "/companies/delete/#{staff_list.id}", class: "delete" %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
          <%= will_paginate @staff_list %>
    </div>
  </div>
</div>
        