<div class="content inner-page">
  <div class="container">
    <div class="row">
      <h4><span>
        <%= image_tag("line.png", :alt => 'line.png') %>
        </span>Company Staffing Plans <span><%= image_tag("right.png" , :alt => 'right.png') %></span></h4>
        <span class="q1">This will be the Staff
        <a href="/add_staff" class="add-new"> Add New</a>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Skills</th>
                <th>Availability</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @staff_list.each do |staff_list| %>
              <tr id="emp_<%= staff_list.id%>">
                <td><%= staff_list.first_name+" "+staff_list.last_name %></td>
                <td><%= staff_list.email %></td>
                <td><%= staff_list.skills %></td>
                <td><%= staff_list.availability %></td>
                <td><%= link_to "", edit_company_path(staff_list), remote: true, class: "edit" %> <%= link_to "", "/companies/delete/#{staff_list.id}",remote: true, class: "delete" %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <%= will_paginate @staff_list %>
        </div>
    </div>
  </div>
</div>