<%= render 'admin/layouts/application' %>
</div>
</div>
</div>

</div><!-- end. header -->
<body data-no-turbolink="true">
<div class="content inner-page">
	<div class="content-down"></div>
		<div class="container">
			<% flash.each do |name, msg| %>
			<div class="">
				<h4 align="center" class="flash"><%= content_tag :div, msg, :id => "flash_#{name}" %></h4>
			</div>
			<% end %>
			<div class="row">
				<h4>
					<span><%= image_tag("line.png" , :alt => 'line.png') %></span>
						Manage Help Center
					<span><%= image_tag("right.png" , :alt => 'right.png') %></span>
				</h4>
					<span class="q1">
						<a class="add-new add-new11" href="<%=  new_admin_help_center_path %>" > Add New</a>
					</span>
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>S.No.</th>
									<th>Question</th>
									<th>Answer</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								<%  @counter = 0;
									@faqs.each do |faq| 
									@counter = @counter + 1
								%>
									<tr>
										<td><%= @counter %></td>
										<td><%= faq.question.truncate(40) %></td>
										<td><%= faq.answer.truncate(80).html_safe %></td>
										<td>
											<a href="/admin/help_center/<%= faq.id %>/edit" class="edit"></a> 
											<a href="/admin/help_center/<%= faq.id %>/delete" class="delete"></a>
										</td>
									</tr>
								<% end %>
							</tbody>
						</table>
					</div>
			</div>
		</div>
</div>
</body>
<%= render 'admin/layouts/footer' %>