<%= render 'admin/layouts/application' %>
<div class="content inner-page">
	<div class="content-down"></div>
	<div class="container">
    <% flash.each do |name, msg| %>
      <div class="">
        <h4 align="center" class="flash"><%= content_tag :div, msg, :id => "flash_#{name}" %>
        </h4>
      </div>
    <% end %>		
		<div class="row">
			<h4><span><%= image_tag("line.png" , :alt => 'line.png') %></span>Add New FAQ<span><%= image_tag("right.png" , :alt => 'right.png') %></span></h4>
	
			<%= form_tag  '/admin/help_center/add', {:class => 'form-horizontal add-employee' , :id => 'loginForm'} do %>
			<div class="form-group">

				<%= label_tag :question, 'Question', :class => "control-label col-sm-2 col-lg-offset-2" %>
				<div class="col-sm-5">
					<%= text_field_tag :question, nil, :class => 'form-control', :placeholder => 'Enter Question', :required => 'required' %>
				</div>
			</div>
			<div class="form-group">

				<%= label_tag :answer, 'Answer', :class => "control-label col-sm-2 col-lg-offset-2" %>
				<div class="col-sm-5">
					<%= text_area_tag :answer, nil, :id => "editor", :class => 'form-control ckeditor', :placeholder => 'Enter Answer Details', :required => 'required' %>
				</div>
			</div>
			<div class="form-group">
				<div class="frm-lat">
					<%= submit_tag "Add New", :class => 'btn btn-default' %>
					<a href="/admin/help_center" class="btn btn-default">Cancel</a>
				</div>
			</div>
			
			<% end %>
		</div>
	</div>
	
</div>

<script type="text/javascript">
$(document).ready(function () {
  $("#loginForm").validate();  
});
</script> 
<script src="http://cdn.ckeditor.com/4.5.6/standard-all/ckeditor.js"></script>
<%= render 'admin/layouts/footer' %>


