<%= render 'admin/layouts/application' %>
		</div>
	</div>
</div>

	<div class="content inner-page">
		<div class="content-down"></div>
		<div class="container">
    <% flash.each do |name, msg| %>
      <div class="">
        <h4 align="center" class="flash"><%= content_tag :div, msg, :id => "flash_#{name}" %>
        </h4>
      </div>
    <% end %>


			<div class="row">
				<div class="table-responsive"><%#=debug @companies %>
			      <table class="table">
			        <thead>
			          <tr>
			            <th>Name</th>
			            <th>Amount</th>
			            <th>Total Staff</th>
			            <th>Total days</th>
			            <th>Requested by</th>
			            <th>Requested by</th>
			            <th>Action</th>

			          </tr>
			        </thead>
				        <tbody>
				        	<%#=debug   @requests %>
				        	<% @requests.each do |company| %>
				        						        
				        		<tr>
				        			<td><%= company.name %></td>
				        			<td><%= company.amount %></td>
				        			<td><%= company.total_emp %></td>
				        			<td><%= company.total_days %></td>
				        			<td><%= company.user_emailTo %></td>
				        			<td><%= company.user_emailBy %></td>
				        			
				        			
				        			<td><a href="" class="">View</a> </td>
				        		</tr>
				        	<% end %>
				        </tbody>
				  </table>
			</div>
		</div>
	</div>

<%= render 'admin/layouts/footer' %>