<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Employee Placement System | Admin</title>
    <%= stylesheet_link_tag    "google-fonts.css" %>
    <%#= stylesheet_link_tag    "hover.css" %>
    <%= stylesheet_link_tag    "style.css" %>
    <%= stylesheet_link_tag    "bootstrap.css" %>
    <%#= stylesheet_link_tag    "bootstrap.min.css" %>
    <%#= stylesheet_link_tag    "bootstrap-theme.css" %>
    <%#= stylesheet_link_tag    "bootstrap-theme.min.css" %>
    <%= stylesheet_link_tag    "sweetalert2.css" %>
    <%= stylesheet_link_tag    "jquery-ui.css" %>
    <%= stylesheet_link_tag    "font-awesome.min.css" %>
    <%#= stylesheet_link_tag    "sweetalert.css" %>
    <%= javascript_include_tag "moment.min.js" %>
    <%= javascript_include_tag "application.js" %>
    <%#= javascript_include_tag "sweetalert-dev.js" %>
    <script type="text/javascript">
    $(document).ready(function () {
    $(".login-tab").click(function() {
    document.cookie="opentab=login;path=/";
    });
    $(".register-tab").click(function() {
    document.cookie="opentab=register;path=/";
    });
    $('.delete').click(function () {
    var confirmBox = confirm('Are you sure, you want to delete ??');
    if(confirmBox) {
    return true;
    }else{
    return false;
    }
    
    });
    });
    </script>
    <%#= javascript_include_tag "angular/routes.js" %>
    <script>
    $(window).scroll(function() {
    if ($(this).scrollTop() > 1){
    $('.header-top').addClass("sticky");
    }
    else{
    $('.header-top').removeClass("sticky");
    }
    });
    </script>
  </head>
  <body>
    <div class="header inner-pages-ng">
      <div class="header-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <a href="/"><!-- <img src="images/logo.png"> -->
              <%= image_tag("small-logo.png" , :alt => 'EPS Logo') %>
            </a>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                    <li class=""><a href="/admin"> Home  <span class="sr-only">(current)</span></a></li>
   
                  <li class="">
                    <a href="javascript:void(0)">Add Data</a>
                  <ul>
                    <li>
                      <a href="/admin/skills"> Skills</a>
                    </li>
                    <li>
                      <a href="/admin/qualifications"> Qualifications  </a>
                    </li>
                  </ul>
                </li>
                <li class="">
                  <a href="/admin/help_center/">Help Center</a>
                </li>
                <li class="">
                  <a href="javascript:void(0)">Plans</a>
                <ul>
                  <li>
                    <a href="/admin/subscription_plans"> Membership Plans</a>
                  </li>
                  <li>
                    <a href="/admin/staff_plans"> Addon Plans  </a>
                  </li>
                </ul>
              </li>
              <li class="">
                <a href="/admin/pages/">Pages</a>
              </li>
            <li class="">
              <a href="/admin/requests">Requests <span class="sr-only">(current)</span></a></li>
            <% if session[:user_id] != nil && session[:user_role] == 'admin' %>
            <li>
              <a href="/admin/log_out">Logout</a></li>
            <% end %>
          </ul>
        </li>
      </ul>
      </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
</div>
</div>
</div><!-- end. header-top -->