<%= render 'admin/layouts/application' %>

		</div>
	</div>
</div>

	<div class="content inner-page" >
		<div class="content-down"></div>
  		<div class="container">
        <% flash.each do |name, msg| %>
          <div class="">
            <h4 align="center" class="flash"><%= content_tag :div, msg, :id => "flash_#{name}" %>
            </h4>
          </div>
        <% end %>
        <form action="/admin/page/update" method="POST">
          <p>
            <label>Page Name</label>
            <input type="text" name="page_name" value="<%= @page_details.page_name %>" readonly></p>
          <p>
            <label>Page Title</label>
            <input type="text" name="page_title" value="<%= @page_details.page_title %>">
          </p>
          <p class="content-area">
            <label>Page Content</label>
            <textarea id="editor" class="ckeditor"  name="page_content">
              <%= @page_details.page_content %>
            </textarea>
            <input type="hidden" name="id" value="<%= @page_details.id %>">
          </p>
          <p class="btns-cont">
            <input type="submit" name="" value="submit">
            <!-- <input type="submit" name="" value="cancel"> -->
            <a href="/admin" class="cancel">Cancel</a>
          </p>
          </form>
      </div>
    </div>
  </div>
<script>

</script>
<%= render 'admin/layouts/footer' %>    