<%= render 'admin/layouts/application' %>


    <% flash.each do |name, msg| %>
      <div class="">
        <h4 align="center" class="flash"><%= content_tag :div, msg, :id => "flash_#{name}" %>
        </h4>
      </div>
    <% end %>
	<div class="content k1">
		<div class="content-down"></div>
		<div class="container register">
			<div class="row ">
				<div class="box-one sign-up">
					<h4><span><!-- <img src="img/line.png"> --><%= image_tag("line.png" , :alt => 'line.png') %></span>ADMIN LOGIN<span><!-- <img src="img/right.png"> --><%= image_tag("right.png" , :alt => 'right.png') %></span></h4>
					
					</div><!-- end .box-one -->
					<div class="box-two" >
						
						<%= form_tag '/admin/post_login', :id => 'loginForm' do %>
						<div class="form-group col-md-6 col-lg-offset-3">
							<%= text_field_tag :email, params[:email], :class => 'form-control', :placeholder => 'Enter Email',:required => 'required' %>
						</div>
						<div class="form-group col-md-6 col-lg-offset-3">
							
							<%= password_field_tag :password, nil, class:'form-control' , :placeholder => 'Enter Password',:required => 'required' %>
						</div>
						
						<div class="checkbox col-lg-12">
							<label>
								<input type="checkbox"> Remember me
							</label>
						</div>
						<div class = "form-group col-md-12">
							<%= submit_tag "Log in", :class => 'btn btn-default' %>
						</div>
						<% end %>
						</div><!-- end .box-one -->
					</div>
				</div>
				
			</div>

<script type="text/javascript">
$(document).ready(function () {
  $("#loginForm").validate();  
});
</script> 
		<%= render 'admin/layouts/footer' %>