<%= render 'admin/layouts/application' %>
</div>
</div>
</div>
<div class="innerpage_banner">
<%= image_tag("create.png" , :alt => 'create.png') %>
<div class="container">
<div class="row">
<div class="banner-innerpage">
	<h2>Be<span>St</span>aff</h2>
</div>
</div>
</div>
</div><!-- end .innerpage_banner -->
</div><!-- end. header -->
<div class="content inner-page">
<div class="content-down"></div>
<div class="container">
<% flash.each do |name, msg| %>
<div class="">
	<h4 align="center" class="flash"><%= content_tag :div, msg, :id => "flash_#{name}" %>
	</h4>
</div>
<% end %>
<div class="row">
	<h4><span>
		<%= image_tag("line.png" , :alt => 'line.png') %>
		</span>Qualification Page<span><%= image_tag("right.png" , :alt => 'right.png') %></span></h4>
		<span class="q1"><a class="add-new add-new11" href="<%=  new_admin_qualification_path %>" > Add Qalification</a>
	</span>
	
	<div class="table-responsive" data-no-turbolink="true">
		<table class="table">
			<thead>
				<tr>
					<th>No</th>
					<th>Page Name</th>
					<th>Page Title</th>
					<th>Edit</th>
				</tr>
			</thead>
			<tbody>
				<% @pages.each do |page, index| %>
				<tr>
					<td><%= index %></td>
					<td><%= page.page_name %></td>
					<td><%= page.page_title %></td>
					<td>
						<a class="edit" href="/admin/page/<%= page.page_name %>/edit"></a> 
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
</div>
</div>
<%= render 'admin/layouts/footer' %>