<%= render 'admin/layouts/application' %>



</div>
</div>
</div>

<div class="content inner-page">
	<div class="content-down"></div>
<div class="container">
<% flash.each do |name, msg| %>
      <div class="">
        <h4 align="center" class="flash"><%= content_tag :div, msg, :id => "flash_#{name}" %>
        </h4>
      </div>
    <% end %>
<div class="row">
	<h4><span>
		<%= image_tag("line.png" , :alt => 'line.png') %>
		</span>Request Activity's Page<span><%= image_tag("right.png" , :alt => 'right.png') %></span></h4>
		<!-- <span class="q1"><a class="add-new" href="/admin/subscription_plans/new" > Add New</a> -->
		</span>
		
		<div class="table-responsive">

<%#= debug @request_act %>


			<table class="table">
				<thead>
					<tr>
						<th>Request To</th>
						<th>Request By</th>
						<th>Amount</th>
						<th>Joined At</th>
					</tr>
				</thead>
				<tbody>
					<% @request_act.each do |plan| %>
					<tr>
						<td><%= plan.user_emailTo %> <%#= plan.last_name %></td>
						<td><%= plan.user_emailBy %> </td>
						<td><%= plan.amount %> </td>
						<td><%= plan.created_at %> </td>
						
												
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
</div>











<%= render 'admin/layouts/footer' %>
