<%= render 'admin/layouts/application' %>


<%#= debug @user_act %>

</div>
</div>
</div>

<div class="content inner-page">
	<div class="content-down"></div>
<div class="container">
<% flash.each do |name, msg| %>
      <div class="">
        <h4 align="center" class="flash"><%= content_tag :div, msg, :id => "flash_#{name}" %>
        </h4>
      </div>
    <% end %>
<div class="row">
	<h4><span>
		<%= image_tag("line.png" , :alt => 'line.png') %>
		</span>User Activity's Page<span><%= image_tag("right.png" , :alt => 'right.png') %></span></h4>
		<!-- <span class="q1"><a class="add-new" href="/admin/subscription_plans/new" > Add New</a> -->
		</span>
		
		<div class="table-responsive">
			<div class="table">	
					<% @user_act.each do |plan| %>
					<div class="employee-cont">
						<h1><%= plan.first_name %> <%= plan.last_name %></h1>
						<h2>Dummy content</h2>
						<div class="employee-inner-cont">
							<h1><%= plan.first_name %> <%= plan.last_name %></h1>
							<h3>Dummy content</h3>							
						</div>
						<div class="time-cont"><%= plan.created_at %> </div>
					</div>
					<% end %>				
			</div>
		</div>
	</div>
</div>
</div>











<%= render 'admin/layouts/footer' %>
