<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Employee Placement System</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<!--link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'-->
<%= stylesheet_link_tag    "google-fonts.css" %>
<%#= stylesheet_link_tag    "hover.css" %>
<%= stylesheet_link_tag    "style.css" %>
<%= stylesheet_link_tag    "latika.css" %>

<%= stylesheet_link_tag    "bootstrap.css" %>
<%#= stylesheet_link_tag    "bootstrap.min.css" %>
<%#= stylesheet_link_tag    "bootstrap-theme.css" %>
<%#= stylesheet_link_tag    "bootstrap-theme.min.css" %>
<%= stylesheet_link_tag    "jquery-ui.css" %>
<%= stylesheet_link_tag    "daterangepicker.css" %>
<%= stylesheet_link_tag    "font-awesome.min.css" %>
<%#= stylesheet_link_tag    "sweetalert.css" %>

<%#= javascript_include_tag "jquery-1.11.3.min.js" %>
<%#= javascript_include_tag "jquery-ui.js" %>
<%#= javascript_include_tag "bootstrap.js" %>
<%= javascript_include_tag "moment.min.js" %>
<%#= javascript_include_tag "sweetalert2.min.js" %>

<%= javascript_include_tag "application.js" %>

<%#= javascript_include_tag "sweetalert-dev.js" %>
<script type="text/javascript">
$('.carousel').carousel();
</script>
<script type="text/javascript">
$(document).ready(function () {
    // $('.delete').click(function () {
    // var confirmBox = confirm('Are you sure, you want to delete ??');
    // if(confirmBox) {
    // return true;
    // }else{
    // return false;
    // }
 
    // });
      $('#availability').focus(function (){
        //$(document).scrollTo('#skilsComplete');
        $('html, body').animate({scrollTop: '350px'}, 800);
        }); 
    });
    </script>
    <%#= javascript_include_tag "angular/routes.js" %>
    <script>
    $(window).scroll(function() {
    if ($(this).scrollTop() > 1){
    $('.header-top').addClass("sticky");
    }
    else{
    $('.header-top').removeClass("sticky");
    }
    });
    function filter(element) {
      var value = $(element).val();
      $("#articleList li").each(function() {
        if ($(this).text().search(new RegExp(value, "i")) > -1) {
          $(this).show();
        } else {
          $(this).hide();
        }
      });
    }
    </script>

  </head>
  <body>
    <div class="header">
      <div class="overlay"></div>
      <div class="header-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <a href="/"><!-- <img src="images/logo.png"> -->
              <%= image_tag("new-logo.png" , :alt => 'EPS Logo') %>
            </a>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                    <li class="hvr-overline-from-center">
                      <% if session[:user_id] && session[:user_id] != nil %>
                        <a href="/company_home"> Manage Staff  <span class="sr-only">(current)</span></a>
                      <% else %>
                        <a href="/"> Home  <span class="sr-only">(current)</span></a>
                      <% end %>                      
                    </li>
                    <li class="hvr-overline-from-center"><a href="/about_us">About Us</a></li>
                    <li class="hvr-overline-from-center"><a href="/contact_us">Contact Us</a></li>
                    <li class="">
                      <a href="/help">Help</a>
                        <ul class="search-nav" >
                          <li><i class="fa fa-search"></i>
                              <input type="text" placeholder="How can we help you?" onkeyup="filter(this)"></li>
                            <div id="articleList">
                              <% @faqs.each do |faq| %>
                                <li><a href="/help/<%= faq.id %>/<%= faq.question.gsub(/\s+/, '-') %>"><%= faq.question%></a></li>
                              <% end %>
                            </div>
                            <li><a href="/help" ><span>Help Center</span></a></li>
                        </ul>
                    </li>
             
                    <li class="hvr-overline-from-center"><a href="#">Pricing </a></li>
                    <% if session[:user_id] && session[:user_id] != nil %>
                    <li class="hvr-overline-from-center"><a href="/log_out" >Logout</a></li>
                    <% else %>

                    <!-- <li><a href="/join" class="login-tab">Login</a></li> -->
                    <li class=""><a href="/join" class="login-tab">Join</a>
                    <ul>
                      <li><a href="/sign_in" class="login-tab">Login</a></li>
                      <li><a href="/join" class="register-tab">Register</a></li>
                    </ul>
                  </li>
                  <% end %>                  
                </ul>
              </li>
            </ul>
            </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
        </div>
      </div>
    </div>
    </div><!-- end. header-top -->    
    <%#=debug @faqs %>
<style>
.sweet-container {
  display: none;
}
</style>