<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Employee Placement System</title>
    <!--link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'-->
    <%= stylesheet_link_tag    "google-fonts.css" %>
    <%#= stylesheet_link_tag    "hover.css" %>
    <%= stylesheet_link_tag    "style.css" %>
    <%= stylesheet_link_tag    "bootstrap.css" %>
    <%#= stylesheet_link_tag    "bootstrap.min.css" %>
    <%#= stylesheet_link_tag    "bootstrap-theme.css" %>
    <%#= stylesheet_link_tag    "bootstrap-theme.min.css" %>
    <%#= stylesheet_link_tag    "sweetalert2.css" %>
    <%= stylesheet_link_tag    "jquery-ui.css" %>
    <%= stylesheet_link_tag    "daterangepicker.css" %>
    <%= stylesheet_link_tag    "autocompletes/jquery.tag-editor.css" %>
    <%= stylesheet_link_tag    "autocompletes/pure-min.css" %>
    <%= stylesheet_link_tag    "font-awesome.min.css" %>
    <%#= stylesheet_link_tag    "jquery.mobile-1.4.5.min.css" %>
    <%= stylesheet_link_tag    "sweetalert2.css" %>
    <%= javascript_include_tag "moment.min.js" %>
    <%= javascript_include_tag "application.js" %>
    <%#= javascript_include_tag "sweetalert-dev.js" %>
    <script type="text/javascript">
    $(document).ready(function () {
      // $('.delete').click(function () {
      //   var confirmBox = confirm('Are you sure, you want to delete ??');
      //   if(confirmBox) {
      //     return true;
      //   }else{
      //     return false;
      //   }
      // });
  filterResults();
      /* 
       * Call Search Filter On Every Feild Change
       */
      $('#skills').focusout(function () {
        $('.tag-editor-spacer').remove();
        setTimeout(function () {
          filterResults();          
        },100);
      });
      $('#experience').focusout(function () {
        filterResults();
      });
      $('#staffQualitication').focusout(function () {
        filterResults();
      });
      // $('#availability').change(function () {
      //   filterResults();
      // });
  
      /*
       * Remove The Spacer Div
       */
      $('.btn').click(function () {
        $('.tag-editor-spacer').remove();
      });

      $('#flat-slider').slider({
        orientation: 'horizontal',
        range:       true,
        values:      [$('#minPrice').val(), $('#maxPrice').val()],
        slide: function( event, ui ) {
          $( "#amountRange" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
          $('#serach-results').css('opacity', '0.2');
          
          /*
           * Filter The Staff Based On Price Selected
           */
           var skills = $('#skills').val();
           var experience = $('#experience').val();
           var qualification = $('#staffQualitication').val();
           var availability = $('#availability').val();
           var minPrice = ui.values[ 0 ];
           var maxPrice = ui.values[ 1 ];

           $('#minHidAmn').val(minPrice);
           $('#maxHidAmn').val(maxPrice);
           String.prototype.ltrim = function() {
              var trimmed = this.replace(/^\s+/g, '');
              return trimmed;
          };
           skills = skills.ltrim();
           $.ajax({
              url: '/api/filter_staff?skills=' + skills + '&experience=' + experience + '&qualification=' + qualification + '&availability=' + availability + '&minp=' + minPrice + '&maxp=' + maxPrice,
              type: 'get',
              dataType: 'json',
              success: function(response) {
                searchForMap(ui.values[ 0 ] , ui.values[ 1 ], response);
                var html = '';
                for(var i =0; i < response.length; i++) {
                  if(response[i].staff_price >= minPrice &&  response[i].staff_price <= maxPrice) {
                    if(response[i].is_private) {
                      var imageStyle = "opacity: 0.2";
                      
                      var userName = 'User is private';
                    }else{
                      var imageStyle = "";
                      var userName = response[i].first_name + response[i].last_name;
                    }
                    if(response[i].image_file_name !== '' && response[i].image_file_name) {
                      var checkId = (response[i].id.toString().length == 1) ? '0' : '';
                      var imagePath = '/system/company_staffs/images/000/000/0' + checkId + response[i].id +'/original/'+ response[i].image_file_name +'';
                    }else{
                      var imagePath = '/images/original/missing.png';
                    }

                    html = html + '<div class="col-lg-4 col-sm-4 search-result"><div class="company-search"><span><img style="'+ imageStyle +'" src="' + imagePath + '"><p class="rate-search">' + response[i].staff_price +' <span>$</span></p></span><a href="/staff_details/'+ response[i].id + '">View More</a></div><h5>' + response[i].company_fn + response[i].company_ln + '/ ' + userName +  ' </h5></div>';
                  }
                }
                $('#serach-results').html('');
                $('#serach-results').html(html);
                $('#serach-results').css('opacity', '1');
                
              },error: function(error) {
                console.log('Here I am');
              }
           });

        }
      });
      $( "#amountRange" ).val( "$" + $( "#flat-slider" ).slider( "values", 0 ) +
      " - $" + $( "#flat-slider" ).slider( "values", 1 ) );

     

    });

function filterResults() {
  //alert('called');
          //$( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
          $('#serach-results').css('opacity', '0.2');
          $('#serach-results-loader').show();
          var minPrice = ($('#minHidAmn').val()) ?  $('#minHidAmn').val() : $('#minPrice').val();
          var maxPrice = ($('#maxHidAmn').val()) ? $('#maxHidAmn').val() : $('#maxPrice').val();

         
          /*
           * Filter The Staff Based On Price Selected
           */
           var skills = $('#skills').val();
           var experience = $('#experience').val();
           var qualification = $('#staffQualitication').val();
           var availability = $('#availability').val();
           String.prototype.ltrim = function() {
              var trimmed = this.replace(/^\s+/g, '');
              return trimmed;
          };
           skills = skills.ltrim();
           // var minPrice = ui.values[ 0 ];
           // var maxPrice = ui.values[ 1 ];
           $.ajax({
              url: '/api/filter_staff?skills=' + skills + '&experience=' + experience + '&qualification=' + qualification + '&availability=' + availability + '&minp=' + minPrice + '&maxp=' + maxPrice,
              type: 'get',
              dataType: 'json',
              success: function(response) {
                
                var html = '';
                 searchForMap(minPrice , maxPrice, response);
                for(var i =0; i < response.length; i++) {
                  if(response[i].staff_price >= minPrice &&  response[i].staff_price <= maxPrice) {

                    // console.log('Here is the locations', 'staff price ', response[i].staff_price , 'min price' , minPrice ,  'staff price' ,response[i].staff_price ,'max price',  maxPrice);
//console.log('=====================', response[i].is_private);
                    if(response[i].is_private) {
                      var imageStyle = "opacity: 0.2";
                      
                      var userName = 'User is private';
                    }else{
                      var imageStyle = "";
                      var userName = response[i].first_name + response[i].last_name;
                    }
                    if(response[i].image_file_name !== '' && response[i].image_file_name) {
                      var checkId = (response[i].id.toString().length == 1) ? '0' : '';
                      var imagePath = '/system/company_staffs/images/000/000/0' + checkId + response[i].id +'/original/'+ response[i].image_file_name +'';
                    }else{
                      var imagePath = '/images/original/missing.png';
                    }

                    html = html + '<div class="col-lg-4 col-sm-4 search-result"><div class="company-search"><span><img style="'+ imageStyle +'" src="' + imagePath + '"><p class="rate-search">' + response[i].staff_price +' <span>$</span></p></span><a href="/staff_details/'+ response[i].id + '">View More</a></div><h5>' + response[i].company_fn + response[i].company_ln + '/ ' + userName +  ' </h5></div>';
                  }
                }
                $('#serach-results').html('');
                $('#serach-results').html(html);
                $('#serach-results').css('opacity', '1');
                $('#serach-results-loader').hide();
              },error: function(error) {
                console.log('Here I am');
              }
           });
}
    </script>
    <%#= javascript_include_tag "angular/routes.js" %>
    <script>
    $(window).scroll(function() {
    if ($(this).scrollTop() > 1){
    $('.header-top').addClass("sticky");
    }
    else{
    $('.header-top').removeClass("sticky");
    }
    });
    function filter(element) {
      var value = $(element).val();
      $("#articleList li").each(function() {
        if ($(this).text().search(new RegExp(value, "i")) > -1) {
          $(this).show();
        } else {
          $(this).hide();
        }
      });
    }
    </script>
  </head>
  <body>
    <div class="header inner-pages-ng">
      <div class="header-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <a href="/"><!-- <img src="images/logo.png"> -->
              <%= image_tag("small-logo.png" , :alt => 'EPS Logo') %>
            </a>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                    <% if session[:user_id] && session[:user_id] != nil %>
                    <li class=""><a href="/company_home"> Manage Staff  <span class="sr-only">(current)</span></a></li>
                    <% else %>
                    <li class=""><a href="/"> Home  <span class="sr-only">(current)</span></a></li>

                    <% end %>
                    <li><a href="/about_us">About Us</a></li>
                    <li class="hvr-overline-from-center"><a href="/contact_us">Contact Us</a></li>
                    <li class="">
                      <a href="/help">Help</a>
                        <ul class="search-nav">
                          <li><i class="fa fa-search"></i>
                              <input type="text" placeholder="How can we help you?" onkeyup="filter(this)"></li>
                            <div id="articleList">
                              <% @faqs.each do |faq| %>
                                <li><a href="/help/<%= faq.id %>/<%= faq.question.gsub(/\s+/, '-') %>"><%= faq.question%></a></li>
                              <% end %>
                            </div>
                            <li><a href="/help" ><span>Help Center</span></a></li>
                        </ul>
                    </li>
                    
                    <% if session[:user_id] && session[:user_id] != nil %>
                    <!-- <li><a href="/hiring_requests">Requests</a></li> -->
                    <li>
                      <a href="#">Membership</a>
                      <ul>
                        <li><a href="/membership_plans" >Membership Plans</a></li>
                        <li><a href="/addon_plans" >Add On Plans</a></li>
                        <li><a href="/payment_history" >My Payments</a></li>
                      </ul>
                    </li>

                    <li><a href="/hiring_requests" >Requests</a>
                    <ul>
                      <li><a href="/hiring_requests" >Hiring Requests</a></li>
                      <li><a href="/my_requests" >Sent Requests</a></li>
                    </ul>

                    <li><a href="#" >Settings</a>
                      <ul>
                        <li><a href="/favourite_searches" >Favourite Searches</a></li>
                        <li><a href="/log_out" >Logout</a></li>
                      </ul>
                    </li>
                    <% else %>                    
                    <li class="hvr-overline-from-center"><a href="#">Pricing </a></li>
                    <li><a href="/join" class="login-tab">Join</a>
                      <ul>
                         <li><a href="/sign_in" class="login-tab">Login</a></li>
                          <li><a href="/join" class="register-tab">Register</a></li>
                      </ul>
                    </li>
                  <% end %>
                  
                </ul>
                
                
              </li>
            </ul>
            </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
        </div>
      </div>
    </div>
    </div><!-- end. header-top -->