<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Employee Placement System</title>

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

<%= stylesheet_link_tag    "hover.css" %>
<%= stylesheet_link_tag    "style.css" %>
<%= stylesheet_link_tag    "bootstrap.css" %>
<%= stylesheet_link_tag    "bootstrap.min.css" %>
<%= stylesheet_link_tag    "bootstrap-theme.css" %>
<%= stylesheet_link_tag    "bootstrap-theme.min.css" %>
<%= stylesheet_link_tag    "jquery-ui.css" %>
<%= stylesheet_link_tag    "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" %>
<%#= stylesheet_link_tag    "sweetalert.css" %>

<%= javascript_include_tag "application.js" %>

<%#= javascript_include_tag "sweetalert-dev.js" %>
<script type="text/javascript">
$(document).ready(function () {
  $(".login-tab").click(function() {
    document.cookie="opentab=login;path=/";
    });
    $(".register-tab").click(function() {
    document.cookie="opentab=register;path=/";
    });
    $('.delete').click(function () {
    var confirmBox = confirm('Are you sure, you want to delete ??');
    if(confirmBox) {
    return true;
    }else{
    return false;
    }
    // swal({   title: "Are you sure?",
    //          text: "You will not be able to recover this imaginary file!",
    //          type: "warning",
    //          showCancelButton: true,
    //          confirmButtonColor: "#DD6B55",
    //          confirmButtonText: "Yes, delete it!",
    //          closeOnConfirm: false },
    //          function(){
    //           //swal("Deleted!", "Your imaginary file has been deleted.", "success");
    //           return true;
    //     });
    });
    });
    </script>
    <%#= javascript_include_tag "angular/routes.js" %>
    <script>
    $(window).scroll(function() {
    if ($(this).scrollTop() > 1){
    $('.header-top').addClass("sticky");
    }
    else{
    $('.header-top').removeClass("sticky");
    }
    });
    </script>

    <script type="text/javascript">
$(window).scroll(function() {    
    var scroll = $(window).scrollTop();
console.log('From top ', scroll);
    if (scroll >= 1) {
        $(".banner").addClass("animated fadeInDown");
    } else {
        $(".banner").removeClass("animated fadeInDown");
    }
    if (scroll >= 2) {
        $(".banner-bottom").addClass("animated fadeInUp");
    } else {
        $(".banner-bottom").removeClass("animated fadeInUp");
    }
    if (scroll >= 1000) {
        $(".c3left").addClass("animated fadeInLeft");
    } else {
        $(".c3left").removeClass("animated fadeInLeft");
    }
    if (scroll >= 1000) {
        $(".c3right").addClass("animated fadeInRight");
    } else {
        $(".c3right").removeClass("animated fadeInRight");
    }
    if (scroll >= 2000) {
        $(".c2-main").addClass("animated fadeInDown");
    } else {
        $(".c2-main").removeClass("animated fadeInDown");
    }
});








    </script>
  </head>
  <body>
    <div class="header">
      <div class="header-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <a href="/"><!-- <img src="images/logo.png"> -->
              <%= image_tag("new-logo.png" , :alt => 'EPS Logo') %>
            </a>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                    <li class="hvr-overline-from-center"><a href="/company_home"> Home  <span class="sr-only">(current)</span></a></li>
                    <li class="hvr-overline-from-center"><a href="#">About Us</a></li>
                    <li class="hvr-overline-from-center"><a href="#">Contact Us</a></li>
                    <li class="hvr-overline-from-center"><a href="#">Pricing </a></li>
                    <% if session[:user_id] && session[:user_id] != nil %>
                    <li class="hvr-overline-from-center"><a href="/log_out" >Logout</a></li>
                    <% else %>
                    <!-- <li><a href="/join" class="login-tab">Login</a></li> -->
                    <li class=""><a href="/join" class="login-tab">Join</a>
                    <ul>
                      <li><a href="/join" class="login-tab">Login</a></li>
                      <li><a href="/join" class="register-tab">Register</a></li>
                    </ul>
                  </li>
                  
                  <!-- <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Register <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">One more separated link</a></li>
                    </ul>
                  </li> -->
                  <% end %>
                  
                </ul>
                
                
              </li>
            </ul>
            </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
        </div>
      </div>
    </div>
    </div><!-- end. header-top -->
    <% flash.each do |name, msg| %>
    <div class="">
      <h4 align="center" class="flash"><%= content_tag :div, msg, :id => "flash_#{name}" %>
      </h4>
    </div>
    <% end %>
