<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Employee Placement System</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <%#= stylesheet_link_tag    "hover.css" %>
    <%= stylesheet_link_tag    "style.css" %>
    <%= stylesheet_link_tag    "bootstrap.css" %>
    <%#= stylesheet_link_tag    "bootstrap.min.css" %>
    <%#= stylesheet_link_tag    "bootstrap-theme.css" %>
    <%#= stylesheet_link_tag    "bootstrap-theme.min.css" %>
    <%#= stylesheet_link_tag    "sweetalert2.css" %>
    <%= stylesheet_link_tag    "jquery-ui.css" %>
    <%#= stylesheet_link_tag    "daterangepicker.css" %>
    <%#= stylesheet_link_tag    "autocompletes/jquery.tag-editor.css" %>
    <%#= stylesheet_link_tag    "autocompletes/pure-min.css" %>
    <%= stylesheet_link_tag    "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" %>
    <%#= stylesheet_link_tag    "sweetalert.css" %>
    <%= javascript_include_tag "moment.min.js" %>
    <%= javascript_include_tag "application.js" %>
    <%#= javascript_include_tag "sweetalert-dev.js" %>
    <script type="text/javascript">
    $(document).ready(function () {
    $('.delete').click(function () {
    var confirmBox = confirm('Are you sure, you want to delete ??');
    if(confirmBox) {
    return true;
    }else{
    return false;
    }
    });
    });
    </script>
    <%#= javascript_include_tag "angular/routes.js" %>
    <script>
    $(window).scroll(function() {
    if ($(this).scrollTop() > 1){
    $('.header-top').addClass("sticky");
    }
    else{
    $('.header-top').removeClass("sticky");
    }
    });
    </script>
  </head>
  <body>
    <div class="header inner-pages-ng">
      <div class="header-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <a href="/"><!-- <img src="images/logo.png"> -->
              <%= image_tag("small-logo.png" , :alt => 'EPS Logo') %>
            </a>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                    <li class=""><a href="/company_home"> Manage Staff  <span class="sr-only">(current)</span></a></li>
                    <li><a href="/about_us">About Us</a></li>
                    <li class="hvr-overline-from-center"><a href="/contact_us">Contact Us</a></li>
                    <% if session[:user_id] && session[:user_id] != nil %>
                    <!-- <li><a href="/hiring_requests">Requests</a></li> -->
                    
                    <li>
                      <a href="#">Membership</a>
                      <ul>
                        <li><a href="/membership_plans" >Membership Plans</a></li>
                        <li><a href="/addon_plans" >Add On Plans</a></li>
                      </ul>
                    </li>

                    <li><a href="/hiring_requests" >Requests</a>
                    <ul>
                      <li><a href="/hiring_requests" >Hiring Requests</a></li>
                      <li><a href="/my_requests" >Sent Requests</a></li>
                    </ul>

                    <li><a href="#" >Settings</a>
                      <ul>
                        <li><a href="/favourite_searches" >Favourite Searches</a></li>
                        <li><a href="/log_out" >Logout</a></li>
                      </ul>
                    </li>
                    <% else %>                    
                    <li><a href="/join" class="login-tab">Join</a>
                      <ul>
                         <li><a href="/sign_in" class="login-tab">Login</a></li>
                          <li><a href="/join" class="register-tab">Register</a></li>
                      </ul>
                    </li>
                  <% end %>
                  
                </ul>
                
                
              </li>
            </ul>
            </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
        </div>
      </div>
    </div>
    </div><!-- end. header-top -->